<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACM Matrix</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- main page style -->
    <link rel="stylesheet" href="stylesheets/index.css"/>
  </head>
  <body>
    <canvas id="bottom">

    </canvas> <!-- #bottom -->
    <div id="top" class="text-center">
      <!-- Standard button -->
      <button type="button" class="btn btn-lg">Default</button>
    </div> <!-- #top -->

    <!-- matrix style -->
    <script src="javascripts/index.js"></script>
  </body>
</html>