#top {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  display:table;
  vertical-align: middle;
  z-index: 5;
}

#top .btn{
  background: rgba(0, 0, 0, .5);
  border: 1px #900 solid;
  color: #900;
}

#float {
  width: 100%;
  height: 100%;
  display:table-cell;
  vertical-align: middle;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin-heading {
  text-align: center;
}

.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input{
  background: rgba(0, 0, 0, .5);
  color: rgba(255, 255, 255, .75) !important;
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.manual-input {
  display: none;
}

/** Manually Override Bootstrap, sue me :P */

textarea:focus, input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(255, 204, 0, 0.8);
  /* We don't have the LESS .box-shadow function in plain CSS */
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 204, 0, 0.6));
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 204, 0, 0.6));
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 204, 0, 0.6));
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
}